 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome to my site! Here you'll find links to my work including project Alberta Coding Bootcamp to help teach Albertans how to code</p>
                </div>
                <div class="col-lg-4">
                    <p>If you're here because of my coding bootcamps or want to discuss an opportunity please contact me or send me an email. Don't forget to subscribe to my mailing list </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/subscribe" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Subscribe Now
                    </a>
                </div>
            </div>
        </div>
    </section>
