 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome to the beginning of your data science journey. Here you'll find links to my work as a data scientist/data engineer including my project Alberta Coding Bootcamp to help Albertans coming from a non-IT background to get hands on experience with coding.</p>
                </div>
                <div class="col-lg-4">
                    <p>Please take this opportunity to sign up for my mailing list</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/subscribe" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Subscribe Now
                    </a>
                </div>
            </div>
        </div>
    </section>
