 
 
 

   
 <section id="bootcamp">
 <br/>
 <br/>
  <div id ="introduction">
   <h1>Hi my name is Dayne, I'd love to be your personal coding coach, click sign up to subscribe and we'll be in touch</h1>
   <p> 
   Many Albertans are wanting to learn how to code so I'm developing a remote bootcamp 
   to teach coding skills. The 3 day bootcamp will be held remotely at the end of August and will give you something to add to your resumes. 
   I also offer personal 1-1 code coaching to teach you coding remotely in the comfort of your own home. 
  
   </p>
 </div>

 <a href="/subscribe/" class="button">Sign Up Now</a>

 <br>
 <br>

 <div class="columns">
  <ul class="price">
    <li class="header">Remote private lesson</li>
    <li class="grey">$50 / hour</li>
    <li>Learn coding in comfort of your own home</li>
    <li>Private coaching tailored to your needs</li>
    <li>Python, SQL, Android/Java, etc</li>
    <li>Flexible payment options, contact for availability</li>
  </ul>
</div>  
 <div class="columns">
  <ul class="price">
    <li class="header">Alberta Coding Bootcamp</li>
    <li class="grey">FREE </li>
    <li>Build something of value</li>
    <li>Bootcamp held in Late August</li>
    <li>Create your own portfolio/projects</li>
    <li>Tailoed towards Oil and Gas professionals wanting to learn how to code</li>

  </ul>
</div>  
</section>
